{% extends 'base.html' %}
{% block title %}Add Vocabulary{% endblock %}
{% block content %}
    <div class="centered">
        <h1>Add New Vocabulary</h1>
        <form method="post">
            {% csrf_token %}
            {% for field in form.visible_fields %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit">Add</button>
        </form>
        <a href="{% url 'options' %}">Back to Options</a>
    </div>
{% endblock %}